name: Despliegue de m贸dulo Terragrunt

on:
  repository_dispatch:
    types: [deploy-module]

jobs:
  deploy:
    name: Ejecutar Terragrunt
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Instalar Terragrunt
        run: |
          curl -sL https://github.com/gruntwork-io/terragrunt/releases/latest/download/terragrunt_linux_amd64 -o terragrunt
          chmod +x terragrunt
          sudo mv terragrunt /usr/local/bin/

      - name: Mostrar m贸dulo recibido
        run: |
          echo " M贸dulo recibido: ${{ github.event.client_payload.module }}"
          echo " Versi贸n: ${{ github.event.client_payload.version }}"

      - name: Inicializar y aplicar con Terragrunt
        working-directory: ${{ github.event.client_payload.module }}
        run: |
          terragrunt init
          terragrunt plan -out=planfile
          terragrunt apply -auto-approve planfile
